.cart-button {
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 22px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 100px;
  @include font(14px, $weight: 400);
  color: $color-gray;
  user-select: none;
  background: url("../../../assets/icons/shopping-cart-outline.svg") no-repeat;
  background-size: 25px;
  background-position: 69px 7px;
  border: 1px solid $color-gray;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.1s ease;
  &:active {
    transform: scale(0.95);
  }
}

.cart-counter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  width: 20px;
  height: 20px;
  color: $color-milk;
  border-radius: 100%;
  background-color: $color-permanent;
}